* {
  padding: 5px 20px 10px 10px;
}

.linha-botao {
  flex-direction: row-reverse;
}

.button-novo{
  background-color: rgb(3, 139, 128);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 130px;
  height: 40px;
  padding: initial;
}

.button-edit{
  background-color: rgb(81, 92, 253);
  color: rgb(255, 255, 255);
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: initial;
}

.button-excluir{
  background-color: rgb(253, 81, 104);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: initial;
}

.button-fechar {
  background-color: rgb(112, 81, 253);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: initial;
}

.button-voltar {
  background-color: rgb(112, 81, 253);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 130px;
  height: 40px;
  padding: initial;
  margin-right: 5px;
}

.button-submit {
  background-color: rgb(3, 139, 128);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 130px;
  height: 40px;
  padding: initial;
  margin-right: 20px;
}

.button-novo:hover, .button-edit:hover, .button-excluir:hover, .button-fechar:hover, .button-voltar:hover .button-submit:hover {
  background-color: #26293d;
}
