* {
  padding: 5px 20px 10px 10px;
}

.linha-botao {
  flex-direction: row-reverse;
}

.button-submit {
  background-color: rgb(3, 139, 128);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 130px;
  height: 40px;
  padding: initial;
  margin-right: 20px;
}

.button-submit:hover {
  background-color: #26293d;
}
